.form {
  align-self: center;
  width: 97%;
  max-width: 455px;
  display: flex;
  align-items: center;
  margin-top: 38px;
  gap: 12px;
}

.form label {
  width: 90%;
}

#todo {
  width: 100%;
  padding: 12px;
  border-radius: 11px;
  background-color: #1f2937;
  color: white;
  border: none;
  height: 50px;
  outline: none;
}

.form button {
  width: 10%;
  background-color: #88ab33;
  border: none;
  height: 50px;
  border-radius: 11px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  white-space: nowrap;
}
