.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 42px;
  gap: 12px;
}

.title {
  display: block;
  font-size: 2em;
}

@media (max-width: 510px) {
  .header {
    justify-content: flex-start;
  }
}
