.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  padding: 12px;
  width: 90%;
  max-width: 455px;
  border-radius: 11px;
  border: 1px solid #c2b39a;
}

.counter {
  background-color: #88ab33;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  font-size: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.text-large {
  font-size: 32px;
}

.text-small {
  font-size: 24px;
}
